<div class="background">
    <div class="container-window footer">
        <div class="flex">
            <h4>loopstudios</h4>
            <div class="redes">
                <div>
                    <img src="assets/redes/icon-facebook.svg" alt="facebook">
                </div>
                <div>
                    <img src="assets/redes/icon-instagram.svg" alt="instagram">
                </div>
                <div>
                    <img src="assets/redes/icon-pinterest.svg" alt="pinteres">
                </div>
                <div>
                    <img src="assets/redes/icon-twitter.svg" alt="twitter">
                </div>
            </div>
        </div>
        <div class="flex footer__bottom">
            <div class="enlaces">
                <div>
                    <p>About</p>
                </div>
                <div>
                    <p>Carrers</p>
                </div>
                <div>
                    <p>Events</p>
                </div>
                <div>
                    <p>Products</p>
                </div>
                <div>
                    <p>Support</p>
                </div>
            </div>
            <p class="footer__bottom--copyright">2021 Loopstudios. All rights reserved.</p>
        </div>
    </div>
</div>
