<header>
    <nav class="container justify-between items-center m-auto flex mt-6">
        <div>
            <strong class="text-2xl">loopstudios</strong>
        </div>
        <div class="flex">
            <p class="px-4 cursor-pointer relative hov-a">About</p>
            <p class="px-4 cursor-pointer relative hov-a">Carrers</p>
            <p class="px-4 cursor-pointer relative hov-a">Events</p>
            <p class="px-4 cursor-pointer relative hov-a">Products</p>
            <p class="px-4 cursor-pointer relative hov-a">Support</p>
        </div>
    </nav>
</header>