<header class="absolute z-10 w-full text-white">
    <nav class="container-window justify-between items-center m-auto flex mt-6">
        <div>
            <strong class="text-2xl">loopstudios</strong>
        </div>
        <div class="flex navigation--desktop">
            <p class="px-4 cursor-pointer relative hov-a">About</p>
            <p class="px-4 cursor-pointer relative hov-a">Carrers</p>
            <p class="px-4 cursor-pointer relative hov-a">Events</p>
            <p class="px-4 cursor-pointer relative hov-a">Products</p>
            <p class="px-4 cursor-pointer relative hov-a">Support</p>
        </div>
        <div 
            class="navbar"
            (click)="onClickNavbar()"    
        >
            <fa-icon [icon]="faBars"></fa-icon>
        </div>
        <div 
            class="navigation"
            [class.navigation--on]="navBar"
        >
            <div class="navigation__top">
                <div>
                    <strong class="text-2xl">loopstudios</strong>
                </div>
                <div (click)="onClickNavbar()">
                    <fa-icon [icon]="faXmark"></fa-icon>
                </div>
            </div>
            <div class="navigation__bottom">
                <p class="font-2">about</p>
                <p class="font-2">carrers</p>
                <p class="font-2">events</p>
                <p class="font-2">products</p>
                <p class="font-2">support</p>
            </div>
        </div>
    </nav>
</header>