.hov-a:hover.hov-a::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 35%;
    height: 1.8px;
}

.navigation, .navbar{
    display: none;
}

@media ( max-width: 920px ) {
    .navigation, .navbar{
        display: inherit;
    }

    .navigation--desktop{
        display: none;
    }

    .navigation{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        top: 0;
        left: 0;
        padding: 50px;
    }

    .navigation__top{
        display: flex;
        justify-content: space-between;
        width: stretch;
    }
}